/* Write your CSS code here */
.nav-header {
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  margin-left: -40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-link {
  text-decoration: none;
  margin: 10px;
  color: white;
  font-family: 'Roboto';
}

.logo-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: flex-start;
}
.logo-title {
  font-family: 'Roboto';
  color: black;
  font-size: 16px;
}
.sub-title {
  color: white;
  font-family: 'Roboto';
  margin-top: 0px;
}

li {
  list-style-type: none;
  text-decoration: none;
  margin: 10px;
  color: white;
  font-family: 'Roboto';
  cursor: pointer;
}

@media screen and (min-width: 575px) {
  .logo-title {
    font-family: 'Roboto';
    color: black;
    font-size: 34px;
  }
}
.logo-img {
  width: 38px;
}
